<h1>Danh sách User</h1>

<a href="#!/user/add" class="btn btn-primary">Thêm mới</a>

<table class="table">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Họ và tên</th>
        <th scope="col">MSV</th>
        <th scope="col">Năm sinh</th>
        <th scope="col">Quê quán</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(index,item) in listUser">
            <th scope="row">{{index+1}}</th>
            <td>{{item.name}}</td>
            <td>{{item.code}}</td>
            <td>{{item.year}}</td>
            <td>
                <span ng-repeat="home in listHome" ng-if="item.home == home.id">
                    {{home.name}}
                </span>
            </td>
            <td>
                <button class="btn btn-danger" ng-click="onDelete(item.id)">Xóa</button>
                <a href="#!/user/edit/{{item.id}}" class="btn btn-warning">Sửa</a>
            </td>
        </tr>
      
    </tbody>
</table>